body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 180px);
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}

.box {
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.c1 {
  grid-column: 1 / 2;
  grid-row: 1/3;
  background-color: rgb(231, 216, 226);
  display: flex;
  flex-direction: column;
  font-size: 25px;
  align-items: center;
}

.c2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: rgb(114, 18, 230);
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  font-size: 30px;
}

.c3 {
  grid-column: 4/5;
  grid-row: 1/4;
  background-color: rgb(192, 187, 240);
  color: #333;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.c4 {
  grid-column: 1 / 2;
  grid-row: 3/5;
  background-color: rgb(246, 196, 131);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.c5 {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: rgb(252, 240, 232);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-end;
}
.c6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: rgb(246, 196, 131);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c7 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: rgb(246, 196, 131);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.c8 {
  grid-column: 3/5;
  grid-row: 4/5;
  background-color: rgb(114, 18, 230);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.c1 button {
  padding: 10px 20px;
  border: none;
  background-color: #e7c886;
  color: #9e5ef1;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  min-width: 40%;
}

.quick {
  color: #9e5ef1;
}

.number {
  color: #e7c886;
}

.coment img {
  border-radius: 20px;
}
.grafic-1 {
  width: 80%;
  align-self: flex-end;
}

.grafic-1 img {
  width: 100%;
  display: flex;
  border-radius: 20px;
}

.follow {
  margin-top: 30px;
  width: 90%;
}
.follow img {
  width: 100%;
  border-radius: 20px;
}
.calendar {
  display: flex;
  width: 60%;
  padding: 10px;
}
.calendar img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: flex;
}

.avatars {
  display: flex;
  justify-content: center;
}

.avatars img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.grafic {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.grafic img {
  width: 80%;
  height: 90%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .grid-layout {
    display: flex;
    flex-direction: column;
  }

  .box {
    width: 90%;
  }

  .c2 {
    order: 1;
    font-size: 20px;
  }
  .c5 {
    order: 2;
    background-color: whitesmoke;
  }
  .c6 {
    order: 3;
    display: flex;
    align-items: flex-start;
  }
  .c3 {
    order: 4;
    text-align: center;
  }
  .c8 {
    order: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .c7 {
    order: 6;
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    background-color: whitesmoke;
  }
  .c1 {
    order: 7;
    display: flex;
    align-items: flex-start;
  }
  .c4 {
    order: 8;
    display: flex;
    align-items: flex-start;
  }
  .grafic-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .grafic-1 img {
    width: 80%;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
